			<!-- Comment BEGIN -->
      <div id="container"></div>
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
      <script>
      var gitalk = new Gitalk({
        clientID: 'b8ff5ed1956f484a7a1f',
        clientSecret: 'c540e05bc03d3cfbe6118be320578d3c14187d49',
        owner: 'cyningsun',
        repo: 'blog_comment',
        admin: ['GitHub repo owner and collaborators, only these guys can initialize github issues'],
        id: '{{ page.date }}',
        distractionFreeMode: true  // Facebook-like distraction free mode
      })

      gitalk.render('container')
      </script>


<!-- Comment END -->