<!-- meta information -->
<meta charset="utf-8">
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<!-- title -->
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.url }}/public/css/base.min.css"/>
<link rel="stylesheet" href="{{ site.url }}/public/css/default.min.css">
<link rel="stylesheet" href="{{ site.url }}/public/css/common.min.css"/>
<link rel="shortcut icon" href="{{ site.url }}/public/images/favicon.ico">