<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<link href="{{ site.baseurl }}/public/css/syntax.css" rel="stylesheet">
<link href="{{ site.baseurl }}/public/css/hc.css" rel="stylesheet">
<link href="{{ site.baseurl }}/public/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ site.url }}/public/images/favicon.ico">
<style>
    html{ background:#eee; }
    .post {
      white-space:pre-wrap;
      word-wrap:break-word;
    }
    pre{white-space:pre-wrap;}

   em{ text-transform:lowercase; color:#1abc9c; }
    :-moz-any(h1, h2, h3, h4, h5, h5) em{ text-transform: capitalize; }
   em:hover{ color:inherit; }

    #article{ padding:10% 10%; position:relative;   background:#fff;}
    #tagline{ color:#999; font-size:1em; margin:-2em 0 2em; padding-bottom:2em; border-bottom:3px double #eee; }
    #table{ margin-bottom:2em; color:#888; }

    @media only screen and (max-width: 640px) {
      table{ word-break:break-all;word-wrap:break-word;font-size:12px; }
      .typo table th, .typo table td, .typo-table th, .typo-table td .typo table caption {
        padding: 0.5em;
      }
      #fork{ display:none; }
    }
  </style>
   <link href="{{ site.baseurl }}/public/css/iconfont.css" rel="stylesheet">

<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif] d-->
