<!-- Pagination links -->
<ul class="pagination-clean">
	{% if paginator.previous_page %}
	  {% if paginator.previous_page == 1 %}
		<li><a href="/">&laquo; Previous</a></li>
	  {% else %}
		<li><a href="{{ paginator.previous_page_path }}">&laquo; Previous</a></li>
	  {% endif %}
	{% else %}
		<li class="previous-off">&laquo; Previous</li>
	{% endif %}

	{% if paginator.page == 1 %}
		<li class="active">1</li>
	{% else %}
		<li><a href="/">1</a></li>
	{% endif %}

	{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
		  <li class="active">{{ count }}</li>
		{% else %}
		  <li><a href="/page{{ count }}">{{ count }}</a></li>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	  <li class="next"><a href="{{ paginator.next_page_path }}">Next &raquo;</a></li>
	{% else %}
	  <li class="next-off">Next &raquo;</li>
	{% endif %}
</ul>