<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body >
		<div class="container">
			<header class="top row  fadeInLeft animated">
				<div class="span2 fl">
				  <a href="/" class="logo" title="{{ site.data.brume.name }}" style="background-image: url({{site.url}}/public/images/logo.png);"></a>
				</div>
				{% include navigation.html %}
			</header>
			{{ content }}
		</div>
		<footer>
			<p>Copyright ©2014 cyningsun</p>
			<p><a href="http://cyningsun.github.io">GitHub Pages</a></p>
		</footer>
	</body>
</html>
