<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="{{ site.url }}/public/css/github-markdown.min.css">
		<style>
			.markdown-body {
				min-width: 200px;
				max-width: 750px;
				margin: 0 auto;
				padding: 0;
			}
		</style>
	</head>
	<body class="bodyer">
		<div class="container">
			<header class="top row">
				<div class="span2 fl">
				  <a href="/" class="logo" title="{{ site.data.brume.name }}" style="background-image: url({{site.url}}/public/images/logo.png);"></a>
				</div>
				{% include navigation.html %}
			</header>
			<article class="markdown-body">
			  <h2>{{ page.title }}</h2>
			  <div class="post-content">
			  {{ content }}
			  </div>
			</article>
			<!-- Comment BEGIN -->
            <div id="container"></div>
            <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
            <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
            <script>
            var gitment = new Gitment({
              id: '{{ page.date }}',
              owner: 'cyningsun',
              repo: 'blog_comment',
              oauth: {
                client_id: '40f315f8e57ef8d9e004',
                client_secret: 'ff1b1611ba32d4577562d70288aeb6ec69f194da',
              },
            })
            gitment.render('container')
            </script>
			<!-- Comment END -->
		</div>
		<footer>
			<p>Copyright ©2018 cyningsun</p>
			<p><a href="http://cyningsun.github.io">GitHub Pages</a></p>
		</footer>
	</body>
	
</html>